<p id="notice"><%= notice %></p>

<%= render '/shared/title', title: '文章列表' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
      <td>categories</td>
      
      
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>         
      <tr>      
        <td><%= link_to post.title, post %></td>       
        <td><%= link_to 'Edit', edit_post_path(post),class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
        <td>
          <% post.categories.each do |c|%>
            <%= link_to c.title, root_path, class:"btn btn-success"%>      
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
